<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="QUIMPAR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${jboss.server.log.dir}/quimpar.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %level [%file:%line] %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${jboss.server.log.dir}/QUIMPAR.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>5</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>30MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="QUIMPAR_FILE_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${jboss.server.log.dir}/QUIMPAR_sql.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %level [%file:%line] %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${jboss.server.log.dir}/QUIMPAR_sql.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>5</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>30MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level %msg%n</pattern>
		</encoder>
	</appender>
			
	<logger name="py.com.quimpar.config" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="QUIMPAR_FILE" />	
	</logger>

	<logger name="py.com.quimpar" level="debug" additivity="false">
		<appender-ref ref="QUIMPAR_FILE" />	
	</logger>

	<logger name="java.sql" level="debug" additivity="false">
		<appender-ref ref="QUIMPAR_FILE_SQL" />	
	</logger>
	
	<logger name="py.com.quimpar.persistence" level="debug" additivity="false">
		<appender-ref ref="QUIMPAR_FILE_SQL" />	
	</logger>
	
	
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="QUIMPAR_FILE" />	
	</logger>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>