<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
    
    
	<!-- the main application context aware container -->
	<bean id="applicationContextProvider" class="py.com.quimpar.config.QuimparApplicationContextProvider" />	
	
	<!-- VALIDATION  -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages_es</value>
			</list>
		</property>
	</bean>
    <!-- END VALIDATION -->
	
	<!-- external configuration files -->
<!-- 	<bean id="configLocator" class="py.com.quimpar.config.ConfigLocator" lazy-init="true"/> -->

	<jee:jndi-lookup id="dataSource" jndi-name="java:/quimparDS"/>
		
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:py/com/quimpar/persistence/mybatis/configuration.xml"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
		
	<!-- DAO's -->	
	<bean id="clientesDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.ClientesDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="comprasDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.ComprasDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="detalleComprasDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.DetalleComprasDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="detallePresupuestosDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.DetallePresupuestosDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="detalleVentasDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.DetalleVentasDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="fraccionamientoDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.FraccionamientoDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="presupuestosDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.PresupuestosDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="productosDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.ProductosDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="proveedoresDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.ProveedoresDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="sectorDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.SectorDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="stockDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.StockDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="ventasDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="py.com.quimpar.persistence.dao.VentasDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!-- SERVICES  -->	
	<bean id="clientesService" class="py.com.quimpar.services.impl.ClientesServiceImpl">
		<property name="clientesDAO"><ref bean="clientesDAO" /></property>
	</bean>
	<bean id="comprasService" class="py.com.quimpar.services.impl.ComprasServiceImpl">
		<property name="comprasDAO"><ref bean="comprasDAO" /></property>
		<property name="detalleComprasDAO"><ref bean="detalleComprasDAO" /></property>
	</bean>
<!-- 	<bean id="detalleComprasService" class="py.com.quimpar.web.services.impl.DetalleComprasServiceImpl"> -->
<!-- 		<property name="detalleComprasDAO"><ref bean="detalleComprasDAO" /></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="detallePresupuestosService" class="py.com.quimpar.web.services.impl.DetallePresupuestosServiceImpl"> -->
<!-- 		<property name="detallePresupuestosDAO"><ref bean="detallePresupuestosDAO" /></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="detalleVentasService" class="py.com.quimpar.web.services.impl.DetalleVentasServiceImpl"> -->
<!-- 		<property name="detalleVentasDAO"><ref bean="detalleVentasDAO" /></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="fraccionamienoService" class="py.com.quimpar.web.services.impl.FraccionamienoServiceImpl"> -->
<!-- 		<property name="fraccionamienoDAO"><ref bean="fraccionamienoDAO" /></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="presupuestosService" class="py.com.quimpar.web.services.impl.PresupuestosServiceImpl"> -->
<!-- 		<property name="presupuestosDAO"><ref bean="presupuestosDAO" /></property> -->
<!-- 	</bean> -->
	<bean id="productosService" class="py.com.quimpar.services.impl.ProductosServiceImpl">
		<property name="productosDAO"><ref bean="productosDAO" /></property>
	</bean>
	<bean id="proveedoresService" class="py.com.quimpar.services.impl.ProveedoresServiceImpl">
		<property name="proveedoresDAO"><ref bean="proveedoresDAO" /></property>
	</bean>
	<bean id="sectorService" class="py.com.quimpar.services.impl.SectorServiceImpl">
		<property name="sectorDAO"><ref bean="sectorDAO" /></property>
	</bean>
<!-- 	<bean id="stockService" class="py.com.quimpar.web.services.impl.StockServiceImpl"> -->
<!-- 		<property name="stockDAO"><ref bean="stockDAO" /></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="ventasService" class="py.com.quimpar.web.services.impl.VentasServiceImpl"> -->
<!-- 		<property name="ventasDAO"><ref bean="ventasDAO" /></property> -->
<!-- 	</bean> -->
</beans>